<!DOCTYPE html>
<html>
<head>
    <title>WWW Slides</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="../assets/js/sidebar.js"></script>
    <script type="text/javascript" src="../assets/js/slide.js"></script>
    <link rel="stylesheet" href="../assets/css/slide.css">
</head>
<body>

<div class="sidebar">

    <div class="sidebar-list">
        <div class="slidelist">
            <div id="slideTable">
                <img src="../assets/image/index/samplePPT.png">
                <img src="../assets/image/index/samplePPT.png">
                <img src="../assets/image/index/samplePPT.png">
                <img src="../assets/image/index/samplePPT.png">
                <img src="../assets/image/index/samplePPT.png">
                <img src="../assets/image/index/samplePPT.png">
                <img src="../assets/image/index/samplePPT.png">
                <!--슬라이드의 갯수를 받아와 슬라이드 이미지를 동적으로 뿌려주자-->
            </div>
        </div>

        <div class="chat">
            <div id="userList">
                <div id = "user1"></div>
                <div id = "user1"></div>
                <div id = "user1"></div>
                <div id = "user1"></div>
                <!--members의 갯수를 찾아와 동적으로 뿌려주자
                    id값이 userID
                -->
            </div>
            <div id="chatRoom"></div>
            <div id="chatMessage"></div>
        </div>
        <div class="other_tool">
            <div id="toolList">
                <img class="sub_tool" id="exportBtn" src="../assets/image/slide/sidebar/export.png">
                <img class="sub_tool" id="inviteBtn"  src="../assets/image/slide/sidebar/invite_user.png">
                <img class="sub_tool" id="slideshowtBtn"  src="../assets/image/slide/sidebar/slideshow.png">
            </div>
        </div>
    </div>
</div>
<div class = "background">
    <header>
        <div id="logo"><a href><img src="../assets/image/index/logo.png" style="width:60%"></a></div>
        <div style="float: right;  background: #969696; min-width: 190px; max-height: 48px">
            <p id="namespace"><%=namespace%></p>
            <img src='<%=profileImage%>' id="<%=userID%>" class="profilePicture"></div>
    </header>
    <div class="toolmenu">
            <div class="PPTtool1">
                <img class="tools" src="../assets/image/slide/toolbar/del_slide.png">
                <img class="tools" src="../assets/image/slide/toolbar/add_slide.png">
            </div>
            <div class="division_line"></div>
            <div class="PPTtool2">
                <div id="font"></div> <div id="font-size"></div>
                <div id="font-feature">
                    <div id="font-bold"></div>
                    <div id="font-incline"></div>
                    <div id="font-underline"></div>
                    <div id="font-color"></div>
                </div>
                <div id="text-align">
                    <div id="alignLeft"></div>
                    <div id="alignCenter"></div>
                    <div id="alignRight"></div>
                </div>
            </div>
            <div class="division_line"></div>
            <div class="PPTtool3">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="division_line"></div>
            <div class="PPTtool4">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>

            </div>
    </div>
</div>
    <div class="canvas-container">
        <div class="canvas"></div>
    </div>

</body>
</html>
