<!DOCTYPE html>
<html>
<head>
    <title>WWW Slides</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="../assets/js/sidebar.js"></script>
    <script type="text/javascript" src="../assets/js/slide.js"></script>
    <link rel="stylesheet" href="../assets/css/slide.css">
    <!--<link rel="stylesheet" href="../assets/css/style.css">-->
</head>
<body>

<div class="sidebar">
    <div class ="sidebar-toggle">
        <div class = "user1"></div>
        <div class = "user2"></div>
        <div class = "user3"></div>
    </div>
    <div class="sidebar-list">
        <div class="slidelist"></div>
        <div class="chat"></div>
        <div class="other_tool"></div>
    </div>
</div>
<div class = "background">
    <header>
        <div id="logo"><a href><img src="../assets/image/index/logo.png" style="width:60%"></a></div>
        <div style="float: right;  background: #969696; min-width: 190px; max-height: 48px">
            <p id="namespac
    </header>
    <div class="toolmenu">
            <div class="PPTtool1"></div>
            <div class="PPTtool2"></div>
            <div class="PPTtool3"></div>e"><%=namespace%></p>
            <img src='<%=profileImage%>' id="<%=userID%>" class="profilePicture">
        </div>
        <div class="PPTtool4"></div>
    </div>
    <div class="canvas"></div>
</div>

</body>
</html>
