<!DOCTYPE html>
<html>
<head>
    <title>WWW Slides</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="../assets/js/sidebar.js"></script>
    <script type="text/javascript" src="../assets/js/slide.js"></script>
    <link rel="stylesheet" href="../assets/css/slide.css">
</head>
<body>

<div class="sidebar">

    <div class="sidebar-list">
        <div class="slidelist">
            <div id="slideTable">
                <img src="../assets/image/index/samplePPT.png">
                <img src="../assets/image/index/samplePPT.png">
                <img src="../assets/image/index/samplePPT.png">
                <img src="../assets/image/index/samplePPT.png">
                <img src="../assets/image/index/samplePPT.png">
                <img src="../assets/image/index/samplePPT.png">
                <img src="../assets/image/index/samplePPT.png">
                <!--슬라이드의 갯수를 받아와 슬라이드 이미지를 동적으로 뿌려주자-->
            </div>
        </div>

        <div class="chat">
            <div id="userList">
                <div id = "user1"></div>
                <div id = "user1"></div>
                <div id = "user1"></div>
                <div id = "user1"></div>
                <!--members의 갯수를 찾아와 동적으로 뿌려주자
                    id값이 userID
                -->
            </div>
            <div id="chatRoom"></div>
            <div id="chatMessage"></div>
        </div>
        <div class="other_tool">
            <div id="toolList"></div>
        </div>
    </div>
</div>
<div class = "background">
    <header>
        <div id="logo"><a href><img src="../assets/image/index/logo.png" style="width:60%"></a></div>
        <div style="float: right;  background: #969696; min-width: 190px; max-height: 48px">
            <p id="namespace"><%=namespace%></p>
            <img src='<%=profileImage%>' id="<%=userID%>" class="profilePicture"></div>
    </header>
    <div class="toolmenu">
            <div class="PPTtool1"></div>
            <div class="PPTtool2"></div>
            <div class="PPTtool3"></div>
            <div class="PPTtool4"></div>
    </div>
</div>
    <div class="canvas-container">
        <div class="canvas"></div>
    </div>

</body>
</html>
