header{
    background: #494949;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
    height: 48px;
}
#logo{
    margin-top: -5px;
    position: absolute;
}
.profilePicture{
    margin : 1px;
    float: right;
    max-width: 45px;
    max-height: 45px;
}
#namespace{
    color: white;
    float:right;
    margin-left: 10px;
    margin-right: 15px;
}
.background{
    background: #6f6f6f;
    height: auto;
    width :1410px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.canvas-wrapper{
    width:1330px;
    height:650px;
    background: #D6D6D6;
    padding:40px;
}

/*.canvas{*/
    /*width:950px;*/
    /*height:534px;*/
    /*background: white;*/
    /*margin-left: 210px;*/
/*}*/

/****************************************************
                    상단 툴 바 CSS
*****************************************************/

.toolmenu{
    background-color: #FDFCDD;
    width:100%;
    height:120px;

}
.PPTtool1{
    width:200px;
    height:80%;
    margin-top:1%;
    margin-left: 4%;
    float: left;
}
.PPTtool1 img{
    width: 100px;
    float:left;
}
.PPTtool1 img:hover{
    opacity: 0.3;
}
.PPTtool2{
    width:20%;
    height:80%;
    margin-top:1%;
    margin-left: 1%;
    float: left;
}
.PPTtool3{
    background-color: #FFFFFF;
    width:20%;
    height:80%;
    max-width:230px;
    max-height: 80px;
    margin-top:1%;
    margin-left: 1%;
    float: left;
    overflow: auto;
    border: solid #000000;
    border-width: 1px;
}
.PPTtool4{
    width:24%;
    height:80%;
    margin-top:1%;
    margin-left: 1%;
    float: left;
}

.PPTtool3 img{
    float:left;
    padding:10px;
    width:32px;
    height: 32px;
}
.PPTtool3 img:hover{
    opacity: 0.3;
}
.PPTtool4 img{
    float:left;
    width:64px;
    height:64px;
    margin-left: 10px;
    margin-right:20px;
    margin-top : 12px;
    margin-bottom:5px;
}
.PPTtool4 img:hover{
    opacity: 0.3;
}




.division_line{
    margin-left:20px;
    margin-right:10px;
    background: #494949;
    float:left;
    width:1px;
    height: 100%;
}
#font{
    float: left;
    background : white;
    width:60%;
    height:40%;
    border : solid #000000;
    border-width: 1px;
}
#font:hover{
    opacity: 0.4;
}
#font-size{
    float: right;
    background : white;
    width:30%;
    height:40%;
    border : solid #000000;
    border-width: 1px;
}
#font-size:hover{
    opacity: 0.4;
}
#font-feature{
    margin-top:3%;
    float: left;
    /*background : green;*/
    width:63%;
    height:45%;
}
#font-feature img{
    float:left;
    width:21%;
    height:100%;
    margin-right:5px;

}
#font-feature img:hover{
    opacity: 0.3;
}
#text-align{
    margin-top: 3%;
    margin-right: 1%;
    float:right;
    width:32%;
    height: 45%;
}
#text-align img{
    float:right;
    width:20%;
    height:100%;
    margin-right:7px;
}
#text-align img:hover{
    opacity: 0.3;
}
/****************************************************
                    사이드바 CSS
*****************************************************/

.sidebar {
    position: absolute;
    top:0;
    background: #494949;
    width: 310px;
    margin-left: -270px;
    margin-top:0.5%;
    margin-right: 5%;
    height: 900px;
}
.sidebar-toggle {
    position: absolute;
    top: 2px;
    right: 0px;
    width: 45px;
    height: 100%;
    background: #494949;
}
#userList{
    float:right;
}
#userList div img{
    opacity: 0.3;
}
.users{
    width: 48px;
    height: 48px;
    background: #959597;
    margin-left:10px;
    margin-bottom: 10px;
}
.sidebar-list {
    width: 100%;
    height :100%
}

.slidelist {
    background: #494949;
    margin-top:1px;
    width: 100%;
    height: 38%;
    z-index: 100;
}
.chat{
    background: #494949;
    width: 100%;
    height: 48%;
    z-index: 100;
    margin-top:0.5%;

}
.other_tool{
    background: #494949;
    width: 100%;
    height: 13%;
    z-index: 100;
    margin-top:0.5%;
}

#slideTable{
    background: #202020;
    margin:20px;
    margin-right:50px;
    margin-left:30px;
    height:260px;
    overflow: auto;
}
#slideTable div{
    float: left;
    background: white;
    margin:10px;
    margin-left:18px;
    width :79px;
    height :45px;
}
#slideTable div:hover{
    opacity: 0.8;
}
#sidebarBtn{
    width:50px;
    float: right;
}
#chatRoom{
    color:white;
    background: #202020;
    margin-right:50px;
    margin-left:30px;
    height:280px;
    overflow: auto;
}

#chatMessage{
    background: #202020;
    margin-top:10px;
    margin-right:50px;
    margin-left:30px;
    height:50px;
}
#toolList{
    background: #202020;
    margin-right:50px;
    margin-left:30px;
    height:60px;
}
.sub_tool{
    margin-top:8px;
    margin-left:15px;
    width:55px;
    height:50px;
}

.sub_tool:hover{
    opacity: 0.8;
}



/*
        Popup
*/
/*//-----------------Invite by Email popup end---------------------------*/
#popup_box {
    display:none; /* Hide the DIV */
    position:fixed;
    _position:absolute; /* hack for internet explorer 6 */
    width:250px;
    height:100px;
    background:#494949;
    left: 80px;
    top: 250px;
    z-index:100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    /*margin-left: 15px;*/

    /* additional features, can be omitted */
    border:2px solid #202020;
    padding:15px;
    font-size:15px;
    box-shadow: 0 0 5px #202020;

}
#mail{
    line-height:15px;
    right:7%;
    top:45px;
    position:absolute;
    font-weight:500;
    width: 15%;
    height: 25%;

}
#inputEmail{
    line-height:15px;
    top:62px;
    left: 10px;
    position:absolute;
    font-weight:500;
    width: 65%;
    height: 15%;
}
#popupBoxClose{
    float: right;
    right: 50px;
    width: 8%;
    height: 17%;
}
#popuplogo{
    right:50%;
    top:1%;
    position:absolute;
    width: 50%;
    height: 20%;
    color:white
}
#popupText{
    line-height:15px;
    right:10px;
    top:85px;
    position:absolute;
    font-weight:500;
    color:white
}

/* This is for the positioning of the Close Link */
/*//-----------------Invite by Email popup end---------------------------*/
/*//-----------------slideShow popup---------------------------*/
#slideShowBoxClose {
    float: right;
    width: 30px;
    height: 30px;
    right:10px;
    top:5px;
    position:absolute;
    color:#6fa5e2;
    font-weight:500;
}
/*//-------------수정부분*/
#slideShowBox{
    display:none; /* Hide the DIV */
    position:absolute;
    /*_position:absolute;  hack for internet explorer 6 */
    width: 1366px;
    height: 800px;
    background:#ffffff;
    left: 0px;
    top: 0px;
    /*z-index:100; *//* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    margin-left: 135px;
    margin-right: 2px;

    /* additional features, can be omitted */
    border:2px solid #202020;
    padding:2px;
    font-size:15px;
    box-shadow: 0 0 5px #202020;
}
/*------------------수정 끝*/
#slider {
    display: block;
    position: relative;
    z-index: 9;
    max-width: 100%;
    height: auto;
    margin: 0 auto; }

#button-previous {
    position: relative;
    left: 10px;
    margin-top: 40%;
    width: 40px;
    height: 60px;
    z-index: 99999;}

#button-next {
    position: relative;
    margin-top: 40%;
    float: right;
    right: 10px;
    width: 40px;
    height: 60px;
    z-index: 99999;}

.sp {
    position: absolute; }

#slider .sp {
    margin-top: 50px;
    width: 100%;
    height: auto; }
/*//-----------------slideShow popup---------------------------*/

/*//-----------------animation popup---------------------------*/
#animation_popup_box{
    text-align: center;
    display:none; /* Hide the DIV */
    position:absolute; /* hack for internet explorer 6 */
    width:350px;
    height:80px;
    /*background:#494949;*/
    left: 900px;
    top: 150px;
    z-index:100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    margin-left: 15px;
    border:2px solid #202020;
    padding:15px;
    font-size:15px;
    box-shadow: 0 0 5px #202020;
}
#speed_option{
    color: #ffffff;
    left : 0px;
    height: 40;
    background: #202020;
}
#animation_option{


}
#animation_popupBox_Close{
    width: 30px;
    height: 30px;
    right:0px;
    top:0px;
    position:absolute;
    color:#6fa5e2;

}
#animation_option div{

    float: left;
    margin-right: 5px;
    margin-left: 5px;

}
#animation_option div img{

    margin-left: 20px;
    margin-right: 30px;
    width: 50px;
    height: 50px;
}
/*//-----------------animation popup---------------------------*/

/* fabric */
canvas{
    margin-left: 140px;
}